In [10]:
import sys
import getpass
import re
from functools import partial
from tqdm import tqdm
import uuid

user = getpass.getuser()
sys.dont_write_bytecode = True

sys.path.insert(0, '/Users/{}/Box/DataViz Projects/Utility Code'.format(user))

from utils_io import *  # initial imports
reload_module('utils_io')  # reload after update to utils_io.py
from utils_io import *  # reload reflects updates

#geo imports
import geopandas as gp
import folium
from geopandas.tools import geocode
from geopy.geocoders import GoogleV3
from geopy.extra.rate_limiter import RateLimiter
from geopy import Point

## Match un-geocoded projects by APN

-[ParcelAtlas v24 (BASIS)](https://data.bayareametro.gov/Cadastral/ParcelAtlas-v24-BASIS-/8hp3-7hq6)

In [2]:
parcels_id = '8hp3-7hq6'

In [4]:
#Pull Sonoma County Parcels from Socrata
query_args = {'where': "county = 'Santa Clara'"}
parcels_santa_clara = pull_df_from_socrata(parcels_id,query_args=query_args)

pulling data in 22 chunks of 22000 rows each
pulling chunk 0
pulling chunk 1
pulling chunk 2
pulling chunk 3
pulling chunk 4
pulling chunk 5
pulling chunk 6
pulling chunk 7
pulling chunk 8
pulling chunk 9
pulling chunk 10
pulling chunk 11
pulling chunk 12
pulling chunk 13
pulling chunk 14
pulling chunk 15
pulling chunk 16
pulling chunk 17
pulling chunk 18
pulling chunk 19
pulling chunk 20
pulling chunk 21
took 1.8777 minutes

In [21]:
parcels_santa_clara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463807 entries, 0 to 463806
Data columns (total 46 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   objectid    463807 non-null  float64
 1   apn         463807 non-null  object
 2   apn2        0 non-null       float64
 3   state       463807 non-null  object
 4   county      463807 non-null  object
 5   fips        463807 non-null  object
 6   sit_hse_nu  440144 non-null  object
 7   sit_dir     29732 non-null   object
 8   sit_str_na  444934 non-null  object
 9   sit_str_sf  435233 non-null  object
 10  sit_full_s  444935 non-null  object
 11  sit_city    450034 non-null  object
 12  sit_state   450724 non-null  object
 13  sit_zip     450504 non-null  object
 14  sit_zip4    437791 non-null  object
 15  land_value  463807 non-null  float64
 16  impr_value  463807 non-null  float64
 17  tot_value   463807 non-null  float64
 18  assmt_year  463807 non-null  float64
 19  rec_date    257507 non-null  object
 20  sales_pric  463807 non-null  float64
 21  year_built  463807 non-null  float64
 22  std_land_u  450696 non-null  float64
 23  lot_size    463807 non-null  float64
 24  bldg_area   463807 non-null  float64
 25  deed_dscr   182570 non-null  object
 26  no_of_stor  422299 non-null  object
 27  no_of_unit  463807 non-null  float64
 28  bedrooms    463807 non-null  float64
 29  bathrooms   463807 non-null  float64
 30  shortowner  0 non-null       float64
 31  owner2      0 non-null       float64
 32  ownaddress  0 non-null       float64
 33  ownaddres2  0 non-null       float64
 34  ownctystzp  448897 non-null  object
 35  xcoord      463807 non-null  float64
 36  ycoord      463807 non-null  float64
 37  minx        463807 non-null  float64
 38  miny        463807 non-null  float64
 39  maxx        463807 non-null  float64
 40  maxy        463807 non-null  float64
 41  attdate     450724 non-null  object
 42  version     463807 non-null  object
 43  quantarium  450724 non-null  object
 44  gpid        463807 non-null  object
 45  geometry    463807 non-null  object
dtypes: float64(24), object(22)
memory usage: 162.8+ MB

In [22]:
parcels_santa_clara[['apn','sit_city']].sample(n=35)

             apn       sit_city
395588  35903010      CUPERTINO
366718  37329030       SAN JOSE
50322   67678033       SAN JOSE
21452   78372013         GILROY
143462  48172010       SAN JOSE
290812  26961003    SANTA CLARA
322335  30706018       SAN JOSE
232706  23037039       SAN JOSE
356019  20514034      SUNNYVALE
46343   67823038       SAN JOSE
87594   60136102       SAN JOSE
413821  15850104  MOUNTAIN VIEW
194470  43957014       SAN JOSE
352349  20539026            NaN
6792    80840045         GILROY
71849   67319035       SAN JOSE
384308  50324060            NaN
64790   70645125       SAN JOSE
346043  20560039      SUNNYVALE
414998  15831011  MOUNTAIN VIEW
119492  46229034       SAN JOSE
330855  22008054    SANTA CLARA
354059  51030032      LOS GATOS
269244  41236017       CAMPBELL
59707   65919051       SAN JOSE
5583    83023006         GILROY
23506   77905040     SAN MARTIN
116064  68736009       SAN JOSE
34022   76440058            NaN
311598  21611035    SANTA CLARA
327843  22023081    SANTA CLARA
164525  09222131       SAN JOSE
118246  49709083       SAN JOSE
434349  14709029  MOUNTAIN VIEW
186860  08832019       MILPITAS

In [119]:
#Pull un-geocoded sonoma projects from Socrata
apr_id = 'briv-ikjp'
query_args = {'where': "cnty_name = 'SANTA CLARA'"}

In [130]:
sc_projects = pull_df_from_socrata(apr_id,query_args=query_args)

pulling data in 1 chunks of 5146 rows each
pulling chunk 0
took 3.7183 seconds

In [131]:
sc_projects['mtc_geocode_type'].unique()

array(['ROOFTOP', 'APPROXIMATE', 'GEOMETRIC_CENTER', 'RANGE_INTERPOLATED',
       'NOT_GEOCODED'], dtype=object)

In [132]:
sc_projects[['mtc_id','jurs_name','apn','mtc_geocode_type']][sc_projects['mtc_geocode_type'].isin(['NOT_GEOCODED',
                                                                                      'APPROXIMATE',
                                                                                     'GEOMETRIC_CENTER'])].sample(n=30)

,mtc_id,jurs_name,apn,mtc_geocode_type
1559,22cc2ddb-7c72-4dbb-903a-a3f40f363ad9,LOS ALTOS,189 49 011,NOT_GEOCODED
2015,fd0f9ef2-a5dc-4a06-901c-1e4d29f4e578,SAN JOSE,26105043,APPROXIMATE
729,f2cc09da-fa36-4a15-a593-5320ffe4d87f,SANTA CLARA COUNTY,27712059,APPROXIMATE
1747,f86f31f3-d976-4580-b8e1-a13f15fbfdda,SAN JOSE,23703064,NOT_GEOCODED
2865,f751855a-4001-496b-9c21-e03f7ad7e348,SANTA CLARA COUNTY,82517028,GEOMETRIC_CENTER
269,d714a22e-d394-4884-a894-4911827d2a6c,SUNNYVALE,20565043,GEOMETRIC_CENTER
281,046ce6a7-5b27-4e05-949c-f301dd2136ec,SAN JOSE,25406042,GEOMETRIC_CENTER
691,5c322165-44be-4f70-8858-aa64941a40a4,SANTA CLARA COUNTY,55815039,APPROXIMATE
695,e7362144-6f9b-45a2-82ff-5afd1e0585e2,SANTA CLARA COUNTY,53226034,APPROXIMATE
260,328714bd-4501-4561-814c-f9f9fed020ab,SUNNYVALE,20565053,GEOMETRIC_CENTER
455,1fbd7796-8481-4e4b-af13-1c98f61d89ba,SUNNYVALE,20934022,APPROXIMATE
1698,191841bd-001b-477f-985e-3786cd74e4de,SAN JOSE,27719067,GEOMETRIC_CENTER
2477,f1e14336-9944-48a7-bc73-18238477d2dd,SUNNYVALE,110-11-088,GEOMETRIC_CENTER
4210,a762fdaa-75f6-4f2f-873b-2c97791bffb9,LOS GATOS,529-44-012,APPROXIMATE
1271,baa11fde-c02f-480c-92c3-b66fc6f51006,MOUNTAIN VIEW,150-26-006,GEOMETRIC_CENTER
937,e56d9a38-680a-4746-a0db-5c79fac82101,SANTA CLARA COUNTY,42106046,NOT_GEOCODED
963,6cb18ed9-adbb-401e-b5f6-3b986f2672f0,SAN JOSE,70607006,NOT_GEOCODED
3603,ef7fb715-9278-4540-b942-80f72ad1ca99,MORGAN HILL,76755023,GEOMETRIC_CENTER
704,d22de640-fa35-4b90-80b7-09b37fcecce6,SANTA CLARA COUNTY,41929034,NOT_GEOCODED
2481,568bc34c-f05d-4a21-a2a4-4a2fedafc959,SUNNYVALE,110-11-088,GEOMETRIC_CENTER
2888,4755a834-2c76-43c3-b54a-5810ba4a3a1c,SANTA CLARA COUNTY,68934018,GEOMETRIC_CENTER
653,56c20be0-e7f9-4a8f-b134-58037f6faac6,SANTA CLARA COUNTY,83524020,APPROXIMATE
2670,28f5f6dc-0967-40cf-b197-4f8cada5702b,SUNNYVALE,NaN,APPROXIMATE
4456,7a3d9359-e6c3-4df7-8fe9-3c57d7846fcf,LOS ALTOS,19703024,NOT_GEOCODED
2004,2cb74f95-3576-4326-b0b4-af96d4922cc9,SAN JOSE,26423076,APPROXIMATE
262,3244128b-a749-4fcd-8907-7e5dd98130b7,SUNNYVALE,20565050,GEOMETRIC_CENTER
2735,68cbc0a1-63b3-4993-9a92-ae1b1b76185b,SAN JOSE,NaN,GEOMETRIC_CENTER
139,20705ccf-fd95-48c5-9d9b-e788bad93852,SUNNYVALE,20934023,NOT_GEOCODED
2763,6ba46b9b-b244-4984-aa98-ed5c66e8553e,SAN JOSE,NaN,GEOMETRIC_CENTER
1507,0f0685d1-cdd7-4bf0-a8a0-5d3a3b6262cc,MILPITAS,086-27-052,GEOMETRIC_CENTER

## Format APNs to match Santa Clara County pattern

In [133]:
#Subset APNs that match the county pattern
sc_regex_ctny_pattern = r'\d{8}'
sc_apn_reg = sc_projects[['apn']][sc_projects['apn'].str.contains(sc_regex_ctny_pattern,na=False)]

In [134]:
#Create a column with formatted apn, setting it to the first correctly mattched pattern 
#if multiple apns listed in column
sc_regex_extract_ctny_pattern = r'(^\d{8})'
sc_apn_reg['mtc_apn_fmt'] = sc_apn_reg['apn'].str.extract(sc_regex_extract_ctny_pattern)

In [135]:
#update the main dataframe with updated values
sc_projects['mtc_apn_fmt'].update(sc_apn_reg['mtc_apn_fmt'])

In [136]:
sc_projects[sc_projects['mtc_apn_fmt'].isnull()].shape

(355, 75)

In [49]:
sc_projects[['mtc_id','apn','mtc_apn_fmt']][sc_projects['mtc_apn_fmt'].isnull()].sample(n=25)

                                    mtc_id         apn apn_fmt
2384  99dd5af6-bbfd-4ad5-bc21-2575cb07b5a6  230-16-002     NaN
2263  628c843d-a5d8-4670-8e88-01e405b2dbf4         NaN     NaN
4203  c7e3631f-a7c9-4a17-9b24-c1615b335613  269-12-017     NaN
358   78be9a96-d870-4008-bc61-85d92a826e43  808 57 024     NaN
2352  7b844ddf-bb54-4901-85cf-0a1f738c46be  220-20-048     NaN
824   4733907c-f258-453e-9c5a-2e41450f108d     8821072     NaN
2276  f4134040-6b56-4992-b7c3-5157d324a083         NaN     NaN
3141  672cdcb8-9066-4e93-a4f9-ac41623fdfff  783-52-029     NaN
3535  62c0413c-0e3a-4ac1-9275-866a5ac2a8ba  189-32-085     NaN
4158  0672d9fd-c066-449a-b717-05c20f44c0cc  216-33-040     NaN
4471  15474ccc-9e8e-42ed-9ac3-a280dcf511b9       -3723     NaN
148   1cb24700-4f06-4f9e-b47d-f220e427bf20  790 25 095     NaN
2821  6eee7fdf-32e6-4f3e-921b-b390487633a7         NaN     NaN
4391  f70adab0-1fd2-4549-8068-92bf955def3b       -4113     NaN
3594  ee01bffa-8619-463e-976a-67f8cc114f2a  142-28-XXX     NaN
3125  7544a938-104f-499b-ae86-d21b798eeac7  357 03 024     NaN
404   82a035e9-1958-47ff-8e76-8b6f99bd6177  810 84 075     NaN
4551  342a397d-767a-4fc6-ba24-3c92aad37061       -3952     NaN
2797  4bbe3b55-497b-4f76-a30e-4f1a525a0734         NaN     NaN
3153  1d8d2a7d-ef09-4fb1-88ee-59ffdf58f12b  167 17 041     NaN
3396  e212eab7-83f3-473a-afa4-80ef9a281e7b  086-32-033     NaN
2327  eb356d69-5f72-4475-aa53-dbc5d14b9ba5  216-34-069     NaN
2397  c654bf46-fb53-42d2-99ad-9b21a4873158  269-05-004     NaN
234   cf4c07a3-ec0f-4e4c-a224-ad421e0a2a5f  808 55 002     NaN
2288  7d3abf1f-b9a7-46bb-84ff-05fd69e2d74e  097-05-098     NaN

In [137]:
sc_regex = r'-| '

In [138]:
#Subset apns that do not match 8 digit, no space or dash pattern
sc_projects_badapn = sc_projects[['apn']][sc_projects['apn'].str.contains(sc_regex,na=False)]

In [139]:
#Replace apns with spaces or dash pattern with no space or dash pattern
sc_projects_badapn['apn'] = sc_projects_badapn['apn'].replace(sc_regex,'',regex=True)

In [140]:
#Create a column with formatted apn, setting it to the first correctly mattched pattern 
#if multiple apns listed in column
sc_projects_badapn['mtc_apn_fmt'] = sc_projects_badapn['apn'].str.extract(sc_regex_extract_ctny_pattern)

In [142]:
#Update main dataframe with updated projects 
sc_projects['mtc_apn_fmt'].update(sc_projects_badapn['mtc_apn_fmt'])

In [100]:
sc_projects[sc_projects['apn_fmt'].isnull()].shape

(431, 76)

In [101]:
sc_projects[['mtc_id','apn','apn_fmt']][sc_projects['apn_fmt'].isnull()].sample(n=35)

                                    mtc_id       apn apn_fmt
4527  8d2f1865-adbe-45f1-b7c3-3b9f22739927     -3929     NaN
781   c0baaf3a-d40d-41f9-aefa-a925d94253a2   2624037     NaN
4525  df1b1258-f707-4c97-a546-bded0374bd5b     -3927     NaN
4448  84d42891-39ad-4a0a-b8ba-e6a47d222786     -3700     NaN
4535  c77eed8d-abb3-4da8-9ad3-b6cb618e44bb     -3937     NaN
4482  12dfe261-8f4b-4d70-b73e-ec8a1119f45e     -3820     NaN
2821  6eee7fdf-32e6-4f3e-921b-b390487633a7       NaN     NaN
2787  944c97a1-d179-4885-83cf-6d96ea20a8ee       NaN     NaN
4476  0e4adfdc-e33b-4600-ad82-9cbd8f10a48c     -3728     NaN
2805  efc0ee5c-46b2-4756-9fdf-a5b831608244       NaN     NaN
775   c2c6bee2-2caa-48aa-982a-097a2133f7e5   2237017     NaN
4566  32ba0593-29b7-4fee-8467-f56815edb813     -3967     NaN
4499  44377c2f-09ed-4c33-82a4-fc6ced48595c     -3837     NaN
4510  b8cb353e-1c35-4d9c-9ef2-709ba925512e     -3848     NaN
2823  83d722b8-04d1-4440-bc6d-15a89f19b5f5     -3665     NaN
4427  cf89896e-f4c3-40e4-a1a4-8fd809c540cb     -3678     NaN
2822  f6a6092b-374e-4101-8d4c-6e1e47af53a1       NaN     NaN
4501  0a648cbb-25d3-4bfc-ad2f-72b44b340e33     -3839     NaN
793   9ffdb144-be1b-4843-ba87-02c46ebb2cfe   2943092     NaN
4420  4e37a8e7-d044-4a68-a428-613c735c54e6     -3671     NaN
784   29aed42a-296d-4c47-b592-2301f33acd6b   2802079     NaN
4531  47a081ff-20c8-432f-953f-0cc7de41582a     -3933     NaN
789   e83b7237-ca47-4d97-82e5-6b444c7e5be6   2907013     NaN
2271  987dc55e-3f2f-40d4-8b65-589d89ff9195       NaN     NaN
4555  be5942f6-a9e3-4063-85be-c8aaee41d67e     -3956     NaN
2235  50f5d297-1834-4001-828e-a8df80da80a5   9226077     NaN
2769  932e9e5e-3eb2-440c-9a61-07b04033ea8a       NaN     NaN
818   210d257d-e523-495e-b2cb-2fcdf917393b   8810018     NaN
2282  06e389de-3975-45fc-9b76-f1c9a0254c6b       NaN     NaN
3670  8e87383e-61af-4eb8-8f10-5d01cb681cb4  25458???     NaN
2809  4dea9a61-f53c-488b-8fe3-2595eaf17e74       NaN     NaN
2230  b3706c6e-3ccf-4db3-bc68-b7bf4b7c45ce   9204051     NaN
2781  bdfbf94e-fd08-4bb4-8759-8302cfbde57c       NaN     NaN
2240  8aec0057-4bfe-472d-a809-2033bf158c22       NaN     NaN
827   9ca608a0-d0f1-4457-af45-64e1515b2e96   8828070     NaN

In [143]:
#Subset projects with APNs with length less than 8
sc_projects_sevenapn = sc_projects[['apn']][sc_projects['apn'].str.len() == 7]

In [144]:
sc_projects_sevenapn.shape

(76, 1)

In [145]:
#prepend 0 to beginning of apn 
sc_projects_sevenapn['mtc_apn_fmt'] = '0' + sc_projects_sevenapn['apn']

In [146]:
#Update main dataframe with updated apns
sc_projects['mtc_apn_fmt'].update(sc_projects_sevenapn['mtc_apn_fmt'])

In [148]:
sc_projects[sc_projects['mtc_apn_fmt'].isnull()].shape

(355, 75)

In [149]:
cols = ['mtc_id','apn','mtc_apn_fmt','mtc_address_full','mtc_geocode_type']
sc_projects[cols][sc_projects['apn'].str.len() < 7]

,mtc_id,apn,mtc_apn_fmt,mtc_address_full,mtc_geocode_type
324,75ec7975-4f14-4ed8-a6cf-a736115ce37c,-4015,NaN,"845 JULIAN TR 3, SUNNYVALE, CA , USA",ROOFTOP
325,9dd475c4-1b32-41a3-a7da-8246d6efaf30,-4014,NaN,"845 JULIAN TR 2, SUNNYVALE, CA , USA",ROOFTOP
326,c88fe391-68d4-4209-9c87-139a269cf487,-4013,NaN,"845 JULIAN TR 1, SUNNYVALE, CA , USA",ROOFTOP
327,48c39735-ff23-4905-b403-690a2f5d9373,-4012,NaN,"842 GRIDLEY TR 4, SUNNYVALE, CA , USA",RANGE_INTERPOLATED
328,bb2279a5-14f1-43bc-80bd-0ba8a2e9be60,-4011,NaN,"842 GRIDLEY TR 3, SUNNYVALE, CA , USA",RANGE_INTERPOLATED
...,...,...,...,...,...
1999,e2f256ca-2cd5-4a94-a337-62fd7c35484e,-3669,NaN,"905 DE GUIGNE, SUNNYVALE, CA , USA",ROOFTOP
2000,f64ceb5c-d337-41a6-9796-8658327a1b2d,-3668,NaN,"905 DE GUIGNE, SUNNYVALE, CA , USA",ROOFTOP
2001,23f4bd96-1e3c-4816-bc32-1933cfedc31d,-3667,NaN,"905 DE GUIGNE, SUNNYVALE, CA , USA",ROOFTOP
2002,a6d959fd-f736-48ca-a7b9-7018ff3d74f6,-3666,NaN,"905 DE GUIGNE, SUNNYVALE, CA , USA",ROOFTOP
2003,83d722b8-04d1-4440-bc6d-15a89f19b5f5,-3665,NaN,"905 DE GUIGNE, SUNNYVALE, CA , USA",ROOFTOP

In [150]:
#Upsert apn updates to socrata
upsert_df_socrata(sc_projects[['mtc_id','mtc_apn_fmt']],apr_id)

upserting data to Socrata in 1 chunks of 5146 rows each
upserted chunk 0
data upserted to briv-ikjp
took 3.208 seconds

## Join to parcels by apn

In [173]:
sc_projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5146 entries, 0 to 5145
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   mtc_id                       5146 non-null   object
 1   mtc_type                     5103 non-null   object
 2   mtc_year                     5146 non-null   float64
 3   mtc_vlow_income_dr           46 non-null     float64
 4   mtc_vlow_income_ndr          138 non-null    float64
 5   mtc_vlow_tot                 5146 non-null   float64
 6   mtc_low_income_dr            75 non-null     float64
 7   mtc_low_income_ndr           53 non-null     float64
 8   mtc_low_tot                  5146 non-null   float64
 9   mtc_mod_income_dr            206 non-null    float64
 10  mtc_mod_income_ndr           427 non-null    float64
 11  mtc_mod_tot                  5146 non-null   float64
 12  mtc_above_mod_income         4313 non-null   float64
 13  mtc_total_units              84 non-null     float64
 14  mtc_issue_dt                 5103 non-null   object
 15  mtc_address_full             5146 non-null   object
 16  mtc_geocode_address          5043 non-null   object
 17  mtc_geocode_type             5146 non-null   object
 18  mtc_mapped                   5146 non-null   bool
 19  mtc_lat                      5043 non-null   float64
 20  mtc_long                     5043 non-null   float64
 21  mtc_wkt                      5043 non-null   object
 22  mtc_pda                      0 non-null      float64
 23  mtc_tpa                      0 non-null      float64
 24  mtc_housing_element_site     0 non-null      float64
 25  mtc_notes                    0 non-null      float64
 26  jurs_name                    5146 non-null   object
 27  cnty_name                    5146 non-null   object
 28  year                         5146 non-null   float64
 29  prior_apn                    671 non-null    object
 30  apn                          5020 non-null   object
 31  street_address               5146 non-null   object
 32  project_name                 1534 non-null   object
 33  jurs_tracking_id             3041 non-null   object
 34  unit_cat_desc                5146 non-null   object
 35  tenure                       5146 non-null   object
 36  vlow_income_dr               5146 non-null   float64
 37  vlow_income_ndr              5146 non-null   float64
 38  low_income_dr                5146 non-null   float64
 39  low_income_ndr               5146 non-null   float64
 40  mod_income_dr                5146 non-null   float64
 41  mod_income_ndr               5146 non-null   float64
 42  above_mod_income             5146 non-null   float64
 43  ent_approve_dt               824 non-null    object
 44  no_entitlements              5146 non-null   float64
 45  bp_vlow_income_dr            5146 non-null   float64
 46  bp_vlow_income_ndr           5146 non-null   float64
 47  bp_low_income_dr             5146 non-null   float64
 48  bp_low_income_ndr            5146 non-null   float64
 49  bp_mod_income_dr             5146 non-null   float64
 50  bp_mod_income_ndr            5146 non-null   float64
 51  bp_above_mod_income          5146 non-null   float64
 52  bp_issue_dt                  2736 non-null   object
 53  no_bilding_permits           5146 non-null   float64
 54  co_vlow_income_dr            5146 non-null   float64
 55  co_vlow_income_ndr           5146 non-null   float64
 56  co_low_income_dr             5146 non-null   float64
 57  co_low_income_ndr            5146 non-null   float64
 58  co_mod_income_dr             5146 non-null   float64
 59  co_mod_income_ndr            5146 non-null   float64
 60  co_above_mod_income          5146 non-null   float64
 61  co_issue_dt                  2024 non-null   object
 62  no_other_forms_of_readiness  5146 non-null   float64
 63  extr_low_income_units        84 non-null     float64
 64  approve_sb35                 5146 non-null   object
 65  infill_units                 2291 non-null   object
 66  fin_assist_name              55 non-null     object
 67  dr_type                      361 non-null    object
 68  no_fa_dr                     688 non-null    object
 69  term_aff_dr                  244 non-null    object
 70  dem_des_units                272 non-null    float64
 71  dem_or_des_units             144 non-null    object
 72  dem_des_units_own_rent       181 non-null    object
 73  notes                        149 non-null    object
 74  mtc_apn_fmt                  4791 non-null   object
dtypes: bool(1), float64(45), object(29)
memory usage: 2.9+ MB

In [174]:
#Subset projects to required fields
sc_projects_sub = sc_projects[['mtc_id','apn','mtc_apn_fmt','mtc_mapped','mtc_geocode_type']].copy()

In [175]:
sc_projects_sub

,mtc_id,apn,mtc_apn_fmt,mtc_mapped,mtc_geocode_type
0,a832e543-8f3f-4b87-adc1-c68c7b18e717,20934023,20934023,True,ROOFTOP
1,39c5da24-7e33-45a7-aa4b-d91f155c4395,20934023,20934023,True,ROOFTOP
2,7b8022ce-354e-400a-870f-19aeea7f082e,20934023,20934023,True,ROOFTOP
3,af47b081-be82-4fa7-a9a6-cf351ea5e131,20934023,20934023,True,ROOFTOP
4,dab1cb4d-6069-4073-a055-1f89c8e45620,20934023,20934023,True,ROOFTOP
...,...,...,...,...,...
5141,7a57f8c6-a19c-40e1-95cc-72c7cefe3222,808 57 008,80857008,True,ROOFTOP
5142,9885b44e-a00c-4339-8daf-ef0491e1c01c,808 57 007,80857007,True,ROOFTOP
5143,d7b52cc4-7bf0-4967-aa62-13227ff8de17,808 57 006,80857006,True,ROOFTOP
5144,bbe2919f-8e39-44a9-ad11-87c2c8590f6b,808 57 005,80857005,True,ROOFTOP
5145,215d9f36-7730-46d0-a880-faa522c7ec00,808 57 004,80857004,True,RANGE_INTERPOLATED

In [176]:
sc_projects_parcels = pd.merge(sc_projects_sub,
                                  parcels_santa_clara,
                                  left_on ='mtc_apn_fmt',
                                  right_on='apn',
                                  how='left',
                              indicator=True)

In [177]:
sc_projects_parcels[sc_projects_parcels['_merge'] == 'both'].shape

(3850, 52)

In [199]:
sc_projects_parcels[(sc_projects_parcels['mtc_mapped'] == False)].shape

(103, 52)

In [181]:
sc_projects_parcels[(sc_projects_parcels['_merge'] == 'both') & (sc_projects_parcels['mtc_mapped'] == False)]

,mtc_id,apn_x,mtc_apn_fmt,mtc_mapped,mtc_geocode_type,objectid,apn_y,apn2,state,county,...,minx,miny,maxx,maxy,attdate,version,quantarium,gpid,geometry,_merge
680,b05ece47-5fa7-4dbb-a63b-7127fb8f8c39,70123029,70123029,False,NOT_GEOCODED,5462202.0,70123029,NaN,CA,Santa Clara,...,-121.843087,37.218323,-121.841833,37.219523,20190815,7/,20589154,-121.84246:+37.21892:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
703,ec55d549-5da4-4b99-9d52-60522d065687,42103033,42103033,False,NOT_GEOCODED,5606054.0,42103033,NaN,CA,Santa Clara,...,-121.937544,37.256632,-121.937340,37.257004,20190815,7/,20405935,-121.93744:+37.25682:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
704,d22de640-fa35-4b90-80b7-09b37fcecce6,41929034,41929034,False,NOT_GEOCODED,5595889.0,41929034,NaN,CA,Santa Clara,...,-121.926774,37.251735,-121.926233,37.251946,20190815,7/,20404161,-121.92650:+37.25184:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
765,4154a0aa-1c50-4426-b26c-e9544dc71bb5,20564029,20564029,False,NOT_GEOCODED,5692948.0,20564029,NaN,CA,Santa Clara,...,-122.008685,37.386423,-122.008610,37.386524,NaN,7/,NaN,-122.00865:+37.38647:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
778,6c1bba4c-bac0-4481-bc9f-6c4e6615e8d4,20564012,20564012,False,NOT_GEOCODED,5691633.0,20564012,NaN,CA,Santa Clara,...,-122.007477,37.385554,-122.007353,37.385612,NaN,7/,NaN,-122.00741:+37.38558:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
936,bd675f1a-d590-4be4-9254-5cd98a1e9dd2,42106046,42106046,False,NOT_GEOCODED,5603959.0,42106046,NaN,CA,Santa Clara,...,-121.935280,37.257552,-121.935072,37.257940,20190815,7/,20406188,-121.93518:+37.25775:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
937,e56d9a38-680a-4746-a0db-5c79fac82101,42106046,42106046,False,NOT_GEOCODED,5603959.0,42106046,NaN,CA,Santa Clara,...,-121.935280,37.257552,-121.935072,37.257940,20190815,7/,20406188,-121.93518:+37.25775:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
962,d6c1d1e5-6e32-489c-ba93-7f1610f14769,70607020,70607020,False,NOT_GEOCODED,5398807.0,70607020,NaN,CA,Santa Clara,...,-121.801010,37.240273,-121.788344,37.251014,20190815,7/,20593387,-121.79468:+37.24564:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1107,591ddf7d-fd99-4552-a100-b47f891168a4,47723043,47723043,False,NOT_GEOCODED,5492622.0,47723043,NaN,CA,Santa Clara,...,-121.863270,37.305294,-121.861587,37.306463,20190815,7/,20452908,-121.86243:+37.30588:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1128,a5e0ebe5-53ef-4143-9742-1ceac528ed37,46701008,46701008,False,NOT_GEOCODED,5544899.0,46701008,NaN,CA,Santa Clara,...,-121.892793,37.339251,-121.892271,37.339600,20190815,7/,20445476,-121.89253:+37.33943:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1129,9d475b80-a01e-4179-b712-42fe66e246ce,46701008,46701008,False,NOT_GEOCODED,5544899.0,46701008,NaN,CA,Santa Clara,...,-121.892793,37.339251,-121.892271,37.339600,20190815,7/,20445476,-121.89253:+37.33943:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1130,158bb310-f509-4609-bfaf-a5e1ad4cb28f,46701008,46701008,False,NOT_GEOCODED,5544899.0,46701008,NaN,CA,Santa Clara,...,-121.892793,37.339251,-121.892271,37.339600,20190815,7/,20445476,-121.89253:+37.33943:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1131,ce780014-52a8-4d74-8136-db88a9e547aa,46701008,46701008,False,NOT_GEOCODED,5544899.0,46701008,NaN,CA,Santa Clara,...,-121.892793,37.339251,-121.892271,37.339600,20190815,7/,20445476,-121.89253:+37.33943:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1428,8ea9c3e3-f61b-4b2e-b75c-2a0ebedc9907,61245014,61245014,False,NOT_GEOCODED,5409553.0,61245014,NaN,CA,Santa Clara,...,-121.807871,37.389596,-121.803658,37.394951,20190815,7/,20531084,-121.80576:+37.39227:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1559,22cc2ddb-7c72-4dbb-903a-a3f40f363ad9,189 49 011,18949011,False,NOT_GEOCODED,5770039.0,18949011,NaN,CA,Santa Clara,...,-122.103560,37.369048,-122.103262,37.369392,20190815,7/,20236225,-122.10341:+37.36922:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
1747,f86f31f3-d976-4580-b8e1-a13f15fbfdda,23703064,23703064,False,NOT_GEOCODED,5556068.0,23703064,NaN,CA,Santa Clara,...,-121.899079,37.385750,-121.898292,37.387087,20190815,7/,20269999,-121.89869:+37.38642:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
2282,65ea05ce-6383-449a-96d7-c505fc235f8c,205-22-032,20522032,False,NOT_GEOCODED,5686688.0,20522032,NaN,CA,Santa Clara,...,-122.003901,37.384000,-122.001317,37.386011,20190815,7/,20249981,-122.00261:+37.38501:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
2284,d0bb93bb-bc1f-4abf-be64-8f0de041d0ca,205-22-032,20522032,False,NOT_GEOCODED,5686688.0,20522032,NaN,CA,Santa Clara,...,-122.003901,37.384000,-122.001317,37.386011,20190815,7/,20249981,-122.00261:+37.38501:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
2285,2c612602-df6d-4d04-8e00-bcdf77cc24dd,205-22-032,20522032,False,NOT_GEOCODED,5686688.0,20522032,NaN,CA,Santa Clara,...,-122.003901,37.384000,-122.001317,37.386011,20190815,7/,20249981,-122.00261:+37.38501:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
3627,0cc247c5-a91e-4e05-b214-9f638c29a3f8,76708048,76708048,False,NOT_GEOCODED,5366727.0,76708048,NaN,CA,Santa Clara,...,-121.652059,37.124991,-121.651847,37.125206,NaN,7/,NaN,-121.65195:+37.12510:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
3695,430e906f-50a4-4bd8-bc75-84b7b110d581,28226007,28226007,False,NOT_GEOCODED,5600806.0,28226007,NaN,CA,Santa Clara,...,-121.931497,37.300644,-121.930612,37.300922,20190815,7/,20310754,-121.93105:+37.30078:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4111,47c9a5a5-be6a-4eaf-ae64-b92a47cc26cd,76708049,76708049,False,NOT_GEOCODED,5366697.0,76708049,NaN,CA,Santa Clara,...,-121.651968,37.125066,-121.651770,37.125249,NaN,7/,NaN,-121.65187:+37.12516:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4158,5d552c9e-81cc-449a-9c80-96af1d4505ad,529-16-071,52916071,False,NOT_GEOCODED,5645581.0,52916071,NaN,CA,Santa Clara,...,-121.970287,37.234811,-121.968871,37.236204,20190815,7/,20491565,-121.96958:+37.23551:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4296,06df3fe8-4fb4-45b8-b87e-1b3c51dff329,42120010,42120010,False,NOT_GEOCODED,5601423.0,42120010,NaN,CA,Santa Clara,...,-121.932945,37.243545,-121.931385,37.245760,20190815,7/,20407191,-121.93216:+37.24465:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4456,7a3d9359-e6c3-4df7-8fe9-3c57d7846fcf,19703024,19703024,False,NOT_GEOCODED,5748243.0,19703024,NaN,CA,Santa Clara,...,-122.067688,37.356053,-122.067323,37.356383,20190815,7/,20238898,-122.06751:+37.35622:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4753,8055e1be-a906-4909-b7e3-3108275dde83,790 35 023,79035023,False,NOT_GEOCODED,5342976.0,79035023,NaN,CA,Santa Clara,...,-121.576421,37.014138,-121.576048,37.014592,20190815,7/,20616533,-121.57623:+37.01436:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4951,282ac6db-7076-441b-b6d2-bc13d65d1ce1,76708055,76708055,False,NOT_GEOCODED,5366463.0,76708055,NaN,CA,Santa Clara,...,-121.651443,37.125361,-121.651231,37.125552,NaN,7/,NaN,-121.65134:+37.12546:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4952,54a8986a-9f7a-42e8-a51f-aafebeabb017,76708054,76708054,False,NOT_GEOCODED,5366502.0,76708054,NaN,CA,Santa Clara,...,-121.651521,37.125317,-121.651322,37.125501,NaN,7/,NaN,-121.65142:+37.12541:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4953,5d8e705a-4a51-483e-afab-85275903a842,76708053,76708053,False,NOT_GEOCODED,5366533.0,76708053,NaN,CA,Santa Clara,...,-121.651598,37.125274,-121.651400,37.125457,NaN,7/,NaN,-121.65150:+37.12537:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4954,326f64be-d374-4a53-b753-ca88527babdd,76708052,76708052,False,NOT_GEOCODED,5366573.0,76708052,NaN,CA,Santa Clara,...,-121.651706,37.125230,-121.651477,37.125414,NaN,7/,NaN,-121.65159:+37.12532:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4955,3b61b769-f002-4abe-9fbd-e80c4a26f08a,76708051,76708051,False,NOT_GEOCODED,5366627.0,76708051,NaN,CA,Santa Clara,...,-121.651813,37.125153,-121.651613,37.125353,NaN,7/,NaN,-121.65171:+37.12525:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both
4956,972d2506-fe88-4c46-bcd0-2bb28ee35006,76708050,76708050,False,NOT_GEOCODED,5366669.0,76708050,NaN,CA,Santa Clara,...,-121.651891,37.125110,-121.651693,37.125293,NaN,7/,NaN,-121.65179:+37.12520:0001,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",both

In [182]:
sc_projects_parcels.shape

(5146, 52)

In [183]:
sc_projects_parcels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5146 entries, 0 to 5145
Data columns (total 52 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mtc_id            5146 non-null   object
 1   apn_x             5020 non-null   object
 2   mtc_apn_fmt       4791 non-null   object
 3   mtc_mapped        5146 non-null   bool
 4   mtc_geocode_type  5146 non-null   object
 5   objectid          3850 non-null   float64
 6   apn_y             3850 non-null   object
 7   apn2              0 non-null      float64
 8   state             3850 non-null   object
 9   county            3850 non-null   object
 10  fips              3850 non-null   object
 11  sit_hse_nu        2659 non-null   object
 12  sit_dir           285 non-null    object
 13  sit_str_na        2702 non-null   object
 14  sit_str_sf        2580 non-null   object
 15  sit_full_s        2702 non-null   object
 16  sit_city          2741 non-null   object
 17  sit_state         2777 non-null   object
 18  sit_zip           2757 non-null   object
 19  sit_zip4          2615 non-null   object
 20  land_value        3850 non-null   float64
 21  impr_value        3850 non-null   float64
 22  tot_value         3850 non-null   float64
 23  assmt_year        3850 non-null   float64
 24  rec_date          2038 non-null   object
 25  sales_pric        3850 non-null   float64
 26  year_built        3850 non-null   float64
 27  std_land_u        2777 non-null   float64
 28  lot_size          3850 non-null   float64
 29  bldg_area         3850 non-null   float64
 30  deed_dscr         941 non-null    object
 31  no_of_stor        2227 non-null   object
 32  no_of_unit        3850 non-null   float64
 33  bedrooms          3850 non-null   float64
 34  bathrooms         3850 non-null   float64
 35  shortowner        0 non-null      float64
 36  owner2            0 non-null      float64
 37  ownaddress        0 non-null      float64
 38  ownaddres2        0 non-null      float64
 39  ownctystzp        2762 non-null   object
 40  xcoord            3850 non-null   float64
 41  ycoord            3850 non-null   float64
 42  minx              3850 non-null   float64
 43  miny              3850 non-null   float64
 44  maxx              3850 non-null   float64
 45  maxy              3850 non-null   float64
 46  attdate           2777 non-null   object
 47  version           3850 non-null   object
 48  quantarium        2777 non-null   object
 49  gpid              3850 non-null   object
 50  geometry          3850 non-null   object
 51  _merge            5146 non-null   category
dtypes: bool(1), category(1), float64(24), object(26)
memory usage: 2.0+ MB

In [184]:
cols = ['mtc_id','mtc_apn_fmt','xcoord','ycoord','_merge','mtc_geocode_type']
geocode_types = ['APPROXIMATE','GEOMETRIC_CENTER','NOT_GEOCODED']
sc_projects_parcels_sub = sc_projects_parcels[cols][(sc_projects_parcels['_merge'] == 'both') & 
                                                    (sc_projects_parcels['mtc_geocode_type'].isin(geocode_types))].copy()

In [185]:
sc_projects_parcels_sub

,mtc_id,mtc_apn_fmt,xcoord,ycoord,_merge,mtc_geocode_type
10,40a126ed-5940-4805-933f-abfb49366f68,41909026,-121.929,37.2575,both,APPROXIMATE
38,0d04ca96-76db-4796-8c06-948a99a25ec5,30944075,-122.027,37.3380,both,APPROXIMATE
39,f1a83e3d-f53e-47ab-ad2d-871491739dc7,30944074,-122.027,37.3382,both,APPROXIMATE
40,9c5fccc8-17b6-4b92-a603-ba3a20be767b,30944073,-122.027,37.3382,both,APPROXIMATE
41,594d7ac7-1bd3-40e7-aab9-ebd90e74b47e,30944072,-122.028,37.3382,both,APPROXIMATE
...,...,...,...,...,...,...
5076,2652a2d8-c820-49f6-9627-15cb78dde147,80854031,-121.595,36.9971,both,GEOMETRIC_CENTER
5077,00cc31ba-908a-49af-9810-6c0bd43e6b8f,80854030,-121.595,36.9971,both,GEOMETRIC_CENTER
5078,ec07d179-efd5-4c76-857a-c90032cf9386,80854029,-121.595,36.9972,both,GEOMETRIC_CENTER
5079,1b5c6db6-ac82-4d04-a649-1c35f6a4585a,80854028,-121.595,36.9974,both,GEOMETRIC_CENTER
5080,bf83e1a3-1952-4391-83fe-0c522ea03db5,80854027,-121.595,36.9975,both,GEOMETRIC_CENTER

In [186]:
sc_projects_parcels_sub[sc_projects_parcels_sub['mtc_geocode_type'] == 'NOT_GEOCODED'].shape

(32, 6)

In [187]:
#Create geodataframe from lat long coords
sc_geo = gp.GeoDataFrame(sc_projects_parcels_sub,
                                  geometry=gp.points_from_xy(sc_projects_parcels_sub['xcoord'],
                                                             sc_projects_parcels_sub['ycoord']),
                                  crs="EPSG:4326")

In [189]:
sc_geo.head(5)

,mtc_id,mtc_apn_fmt,xcoord,ycoord,_merge,mtc_geocode_type,geometry
10,40a126ed-5940-4805-933f-abfb49366f68,41909026,-121.929,37.2575,both,APPROXIMATE,POINT (-121.92900 37.25750)
38,0d04ca96-76db-4796-8c06-948a99a25ec5,30944075,-122.027,37.3380,both,APPROXIMATE,POINT (-122.02700 37.33800)
39,f1a83e3d-f53e-47ab-ad2d-871491739dc7,30944074,-122.027,37.3382,both,APPROXIMATE,POINT (-122.02700 37.33820)
40,9c5fccc8-17b6-4b92-a603-ba3a20be767b,30944073,-122.027,37.3382,both,APPROXIMATE,POINT (-122.02700 37.33820)
41,594d7ac7-1bd3-40e7-aab9-ebd90e74b47e,30944072,-122.028,37.3382,both,APPROXIMATE,POINT (-122.02800 37.33820)

In [190]:
sc_geo['mtc_wkt'] = sc_geo['geometry'].map(lambda x: x.wkt)

In [192]:
#Rename columns to match final schema
sc_geo.rename(columns={'xcoord':'mtc_long','ycoord':'mtc_lat'},inplace=True)

In [193]:
#Update mtc_mapped column and set to True
sc_geo['mtc_mapped'] = True

In [195]:
#Update mtc_geocode_type and set to APN_MATCH
sc_geo['mtc_geocode_type'] = 'APN_MATCH'

In [196]:
sc_geo.head(5)

,mtc_id,mtc_apn_fmt,mtc_long,mtc_lat,_merge,mtc_geocode_type,geometry,mtc_wkt,mtc_mapped
10,40a126ed-5940-4805-933f-abfb49366f68,41909026,-121.929,37.2575,both,APN_MATCH,POINT (-121.92900 37.25750),POINT (-121.929 37.2575),True
38,0d04ca96-76db-4796-8c06-948a99a25ec5,30944075,-122.027,37.3380,both,APN_MATCH,POINT (-122.02700 37.33800),POINT (-122.027 37.338),True
39,f1a83e3d-f53e-47ab-ad2d-871491739dc7,30944074,-122.027,37.3382,both,APN_MATCH,POINT (-122.02700 37.33820),POINT (-122.027 37.3382),True
40,9c5fccc8-17b6-4b92-a603-ba3a20be767b,30944073,-122.027,37.3382,both,APN_MATCH,POINT (-122.02700 37.33820),POINT (-122.027 37.3382),True
41,594d7ac7-1bd3-40e7-aab9-ebd90e74b47e,30944072,-122.028,37.3382,both,APN_MATCH,POINT (-122.02800 37.33820),POINT (-122.028 37.3382),True

In [197]:
#Upsert updated records to socrata
final_columns = ['mtc_id','mtc_apn_fmt','mtc_long','mtc_lat','mtc_mapped','mtc_geocode_type','mtc_wkt']
upsert_df_socrata(sc_geo[final_columns],apr_id)

upserting data to Socrata in 1 chunks of 309 rows each
upserted chunk 0
data upserted to briv-ikjp
took 1.9361 seconds